/*----------------------------------------------------------------------------*
 * General
 *----------------------------------------------------------------------------*/
// mobile break point
$breakpoint: 960px;

/*----------------------------------------------------------------------------*
 * Color
 *----------------------------------------------------------------------------*/
$ink: #222c35;
$ink-light: #797d80;
$grey-light: #c4cdd5;
$positive: #58be8c;
$negative: #e03e30;
$main: #5c6ac4;
$white: #fff;

/*----------------------------------------------------------------------------*
 * Size
 *----------------------------------------------------------------------------*/
// navbar
$navbar-height: 56px;
$navbar-max-width: 1180px;
