/*----------------------------------------------------------------------------*
 * password-reset
 *----------------------------------------------------------------------------*/
.password-reset {
  text-align: left; }

.password-reset__cancel {
  margin-top: 15px;
  display: block; }
